
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Heading Editor
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.wgid,model.widget)" class="navbar-link">
          <span class="glyphicon glyphicon-ok ">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<span class="text-danger padding-left"
      ng-show="model.alert">
      {{model.alert}}
</span>
<div class= "container-fluid wd-body-container">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.widget.name"
           placeholder="name"
           value=""
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           ng-model="model.widget.text"
           placeholder="text"
           value=""
           id="text" required/>

    <label for="size">Size</label>
    <select class="form-control"
            ng-model="model.widget.size"
            ng-init="model.widget.size = (model.widget.size)? model.widget.size: '3'"
            id="size"
            required>
        <option value="1">1(XX-Large)</option>
        <option value="2">2(X-Large)</option>
        <option value="3">3(Large)</option>
        <option value="4">4(Medium)</option>
        <option value="5">5(Small)</option>
        <option value="6">6(X-Small)</option>
    </select>

    <a ng-click="model.updateWidget(model.wgid,model.widget)" class="btn btn-block btn-primary">Update</a>
    <a ng-click="model.deleteWidget(model.pid,model.wgid)" class="btn btn-danger btn-block">Delete</a>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}" class="navbar-link">
                <span class="glyphicon glyphicon-user "></span>
            </a>
        </p>
    </div>
</nav>
